<!DOCTYPE html>
<html>
<head>
  <title>&#9733; yet another twitter client&hellip;</title>
  {% assets "css_all" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
</head>
<body>
  <header class="navbar navbar-inverse navbar-static-top" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <span class="icon-star"></span> yet another twitter client&hellip;
        </a>
      </div>
    </div>
  </header>
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
  </div>
  <script src="/static/javascripts/build/bundle.js" async></script>
</body>
</html>

