{% extends "index.html" %}
{% block body %}
<div id="root" class="row">
  <div id="user-lookup" class="col-sidebar">
    <div class="panel panel-default">
      <div class="panel-body">
        <form>
          <div class="form-group no-margin">
            <label class="control-label" for="screen-name">Timeline Lookup</label>
            <span id="last-update" class="data fade">
              &middot; <span class="event fade"></span> <span class="interval fade"></span>
            </span>
            <div class="input-group">
              <input name="screen-name" type="text" class="form-control" placeholder="Enter a screen name to get posts...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="button-spacer">Go</span>
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="status-filter" class="col-main">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group no-margin">
          <span id="filter-count" class="data pull-right">
            <strong class="result">0</strong> of <strong class="total">0</strong>
          </span>
          <label class="control-label" for="status-filter">Status Filter</label>
          <input name="status-filter" type="text" class="form-control" placeholder="Filter statuses...">
        </div>
      </div>
    </div>
  </div>

  <div id="timeline" class="col-main timeline initial-load">
    <h3 class="loader"><span class="icon-star animate-spin"></span> loading&hellip;</h3>
    <div class="panel-group">
    </div>
  </div>
</div>
{% endblock %}
