.timeline {
  &.working {
    .loader {
      opacity: 1;
    }

    .panel-group {
      opacity: 0.5;
    }
  }

  &.initial-load {
    .panel-group {
      margin-top: 66px;
    }
  }

  .loader,
  .panel-group {
    transition: opacity 1.5s, margin 500ms;
  }

  .loader {
    position: absolute;
    left: 50%;
    margin-left: -64px;
    opacity: 0;
  }
}
